* {
    box-sizing: border-box;
}

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

:root {
    --primary-font-family: 'Poppins', sans-serif;
    --background-color: #161f36; 
    --primary-color: #ff9900;
    --light-letter-color: #e5e5e5;
    --dark-letter-color: #4e515a;
}

body {
    font-family: var(--primary-font-family);
    background: var(--background-color);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

.logo {
    display: block;
    margin: 4rem auto .2rem auto;
    min-width: 15rem;
    width: 25rem;
}

h1 {
    font-size: 3.4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8rem;
    color: var(--light-letter-color);
}

/* MAIN */
.main-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 8rem;
}
.form-group input{
    height: 3.5rem;
    width: 100%; /*Ocupan todo el espacio posible. Los de la siguiente fila ocupan 100% de cada fila. Eso creo xd*/
    font-size: 2.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 5px;
    padding: 2.5rem 0;
}
.calc-item{
    display: block;
    color: var(--light-letter-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
}

.calc-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2.2rem;
}
.calc-buttom{
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    color: var(--background-color);
}

/* SECTION */
.results{
    display: grid;
    justify-content: center;
}
.result-item{
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light-letter-color);
    margin-bottom: 5px;
    align-items: center;
}
.result-title{
    font-size: 1.8rem;
    font-weight: 600;
}
.icon{
    height: 50px;
    margin-right: 20px;
}
.icon-title{
    height: 80px;
}